@font-face {
    font-family: 'Noto Sans CJK';
    src: url('font/NotoSansCJKkr-Black.otf') format('woff');
    font-weight: 800;
    font-style: black;
}
@font-face {
    font-family: 'Noto Sans CJK';
    src: url('font/NotoSansCJKkr-Bold.otf') format('woff');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'Noto Sans CJK';
    src: url('font/NotoSansCJKkr-Medium.otf') format('woff');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Noto Sans CJK';
    src: url('font/NotoSansCJKkr-Regular.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans CJK';
    src: url('font/NotoSansCJKkr-DemiLight.otf') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Noto Sans CJK';
    src: url('font/NotoSansCJKkr-Light.otf') format('woff');
    font-weight: 200;
    font-style: light;
}

:root {
    --blue: #2c67ff;
}
:root[color-theme='light'] {
    --bgColor: #f3f6ff;
    --bgContent: #fff;
    
    --mainTxt: #222;
    --lightTxt: #666;
    --gray: #898989;
    --lightGray: #e8e8e8;
}

:root[color-theme='dark'] {
    --blue: #5988ff;
    --bgColor: #222;
    --bgContent: #000;
    
    --mainTxt: #eaeaea;
    --lightTxt: #b9b9b9;
    --gray: #888;
    --lightGray: #444;
}

/* common.css */
body {
    color: var(--mainTxt);
    background: var(--bgColor);
    font-family:"Noto Sans CJK", sans-serif;
}
* {
    color: var(--mainTxt);
    font-family:"Noto Sans CJK", sans-serif;
}


/* main */
.wrap {
    display: flex;
    height: 100vh;
}
main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9;
}
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 800px;
    overflow: auto;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 10;
}

.btn-close {
    position: absolute;
    top: 5px;
    right: -23px;
    padding: 5px 3px 5px 0;
    background: var(--bgContent);
    color: var(--gray);
    stroke: var(--gray);
    border-radius: 0 4px 4px 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.03);
}
/* list  */
.list-style01 li + li {
    margin-top: 30px;
}
.list-style01 .list-tit {
    display: block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 500;
    color: #a8aaaf;
}

/* input  */
input::placeholder,
textarea::placeholder {
    color: var(--gray);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--gray);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--gray);
}
.input-style01 {
    display: inline-block;
    height: 30px;
    padding: 12px;
    font-size: 11px;
    color: var(--lightTxt);
    background: var(--bgContent);
    border: 1px solid var(--lightGray);
    border-radius: 4px;
}
.input-block {
    display: block;
    width: 100%;
}

/* checkbox,radio */
.checkbox, .radio, .switch {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
}
.checkbox + label,
.radio + label {
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    color: var(--lightTxt);
    cursor: pointer;
}
.checkbox + label::before,
.radio + label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #949597;
    background: var(--bgContent);
    border-radius: 2px;
    transform: translateY(-50%);
}
.checkbox:checked + label::before {
    margin-right: 4px;
    background: var(--blue);
    border-color: var(--blue);
}
.checkbox:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 2px;
    width: 5px;
    height: 8px;
    margin-top: -2px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    transform: rotate(45deg) translateY(-50%);
}
.radio + label::before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.radio:checked + label::before {
    border-color: var(--blue);
}
.radio:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    background: var(--blue);
    border-radius: 50%;
    transform: translateY(-50%);
}
.switch + label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 26px;
    padding: 3px;
    border-radius: 10em;
    background: var(--lightGray);
    transition: all 0.2s;
    cursor: pointer;
    transition: all 0.2s;
}
.switch + label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: var(--lightTxt);
    border-radius: 50%;
    transition: all 0.2s;
}
.switch:checked + label {
    background: #e7edff;
}
.switch:checked + label::after {
    left: 29px;
    background: var(--blue);
}

/* select  */
.select {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: var(--lightTxt);
    z-index: 1;
}
.select .label {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 7px 28px 7px 12px;
    font-size: 11px;
    color: var(--lightTxt);
    background: var(--bgContent);
    border: 1px solid var(--lightGray);
    border-radius: 4px;
}
.select .label::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-style: solid;
    border-width: 4px 3px 0px 3px;
    border-color: var(--lightTxt)666 transparent transparent transparent;
    transition: all 0.1s;
}
.select.open .label::after {
    transform: rotate(180deg);
}
.select.open {
    z-index: 20;
}
.select .option-list {
    position: absolute;
    top: 100%;
    display: none;
    min-width: 100%;
    margin-top: 8px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    background: var(--bgContent);
    z-index: 10;
}
.select .option-list li {
    padding: 10px;
    border-bottom: 1px solid var(--lightGray); 
}
.select .option-list li + li {
    margin-top: 0;
}
.select .option-list li:last-of-type {
    border-bottom: 0;
}

/* button */
.btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    text-align: center;
    transition: all 0.2s;
    letter-spacing: -0.02em;
}
.btn + .btn {
    margin-left: 10px;
}
.btn-blue {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: #fff;
}
.btn-blue:hover {
    background: #204cbd;
}
.btn-line-blue {
    background: var(--bgContent);
    border: 1px solid var(--blue);
    color: var(--blue);
}
.btn-line-blue:hover {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: #fff;
}
.btn-line-gray {
    background: var(--bgContent);
    border: 1px solid var(--lightGray);
    color: var(--lightTxt);
}
.btn-line-gray svg {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin: -2px 4px 0 0;
    stroke: var(--lightTxt);
    color: var(--lightTxt);
}
.btn-line-gray:hover {
    color: var(--blue);
    border-color: var(--blue);
    background: #fff;
}
.btn-line-gray:hover svg {
    stroke: var(--blue);
    color: var(--blue);
}
.btn-sm {
    min-width: 60px;
    padding: 8px 14px;
    font-size: 11px;
    font-weight: 200;
}
.table-head .btn-sm {
    padding: 7px 12px;
    font-size: 12px;
}
.btn-md {
    min-width: 84px;
    padding: 10px 14px;
    font-size: 12px;
}
.btn-lg {
    padding: 12px 14px;
    font-size: 13px;
}

/* table  */
table {
    width: 100%;
}
.table-style01 th,
.table-style01 td {
    padding: 12px 10px;
    text-align: left; 
    font-size: 12px;
    border-bottom: 1px solid var(--lightGray);
}
.table-style01 th {
    padding-top: 0;
    font-weight: 600;
}
.table-style01 tbody tr:last-of-type td {
    padding-bottom: 0;
    border-bottom: 0;
}
