/* sidebar */
aside {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px 20px;
    text-align: center;
    background: var(--bgContent);
    z-index: 10;
}
aside nav {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    background: var(--bgColor);
    border-radius: 10em;
    z-index: 1;
}
aside .logo {
    display: block;
    margin: 0 auto;
}
aside .full-logo {
    position: relative;
    width: 100%;
    height: 44px;
    margin: 0 auto;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../img/img_logo_full.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}
html[color-theme="dark"] aside .full-logo {
    background-image: url(../img/img_logo_full_white.png);
}
aside nav li {
    padding: 20px 12px;
}
aside nav li svg {
    width: 20px;
    height: 20px;
}
aside nav li:first-of-type {
    padding-top: 12px;
}
aside nav li:last-of-type {
    padding-bottom: 12px;
}
aside nav li .menu-item {
    position: relative;
    width: 20px;
    height: 20px;
}
aside nav li .menu-item:hover .bubble {
    display: block;
}
aside nav li .menu-item:hover:not(.active) svg{
    color: #2c67ff;
}
aside nav li .menu-item.active svg {
    color: #fff;
    stroke: #fff;
}
aside nav .active-ball {
    position: absolute;
    top:0;
    left: 0;
    width: 44px;
    height: 44px;
    background: #2c67ff;
    border-radius: 50%;
    z-index: -1;
}
aside.open .overlay {
    display: block;
}
aside.open .side-menu {
    transform: translateX(0);
}

aside .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 256px;
    height: 100%;
    padding: 24px 0 20px;
    background: var(--bgContent);
    z-index: 100;
    transform: translateX(-120%);
    transition: all 0.2s;
}
aside .side-menu .menu-list {
    margin-top: 24px;
}
aside .side-menu .menu-list {
    padding-left: 12px;
}
aside .side-menu .menu-list .menu-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 18px;
    font-size: 12px;
    text-align: left;
}
aside .side-menu .menu-list li{
    overflow: hidden;
}
aside .side-menu .menu-list button.menu-item::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 18px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border: solid var(--mainTxt);
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
    transition: all 0.2s;
}
aside .side-menu .menu-list .menu-item svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin: -2px 14px 0 0;
}
aside .side-menu .menu-list .menu-name svg {
    position: absolute;
    top: 50%;
    right: 1px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
}
aside .side-menu .menu-list .menu-item.active {
    color: var(--blue);
    font-weight: 600;
    background: var(--bgColor);
}
aside .side-menu .menu-list .menu-item:hover {
    color: var(--blue);
    font-weight: 600;
}
aside .side-menu .menu-list .menu-item.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: var(--blue);
}
aside .side-menu .menu-list button.menu-item.active::before {
    border-color: var(--blue);
    transform: rotate(315deg);
}
aside .side-menu .menu-list .menu-item.active svg,
aside .side-menu .menu-list .menu-item:hover svg  {
    color: var(--blue);
    stroke: var(--blue);
}
aside .depth2 {
    position: relative;
    max-height: 0;
    margin-left: 30px;
    transition: all 0.2s;
}
aside .menu-item.active + .depth2 {
    max-height: none;
    margin: 10px 0 10px 30px;
}
aside .depth2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 1px;
    height: calc(100% - 26px);
    background: var(--bgColor);
    transform: translateY(-50%);
    z-index: -1;
}
aside .depth2 li a {
    position: relative;
    display: block;
    padding: 8px 0;
    font-size: 11px;
    font-weight: 400;
    color: #9cadb5;
    text-align: left;
    padding-left: 24px;
    transition: all 0.2s;
}
aside .depth2 li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    margin-top: -2px;
    background: #a4b2bb;
    border-radius: 50%;
}
aside .depth2 li.active a,
aside .depth2 li:hover a {
    color: var(--mainTxt);
    font-weight: 500;
}
aside .depth2 li.active a::before {
    background: var(--blue);
}
aside .side-menu .menu-list .menu-item.active + .depth2 {
    display: block;
}
aside .mode {
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
}
aside .mode label {
    position: relative;
}
aside .mode svg {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 11px;
    height: 11px;
    color: #222;
    stroke: #222;
    z-index: 1;
    transition: all 0.2s;
}
aside .mode svg.light {
    left: 34px;
    color: #fff;
    stroke: #fff;
}
aside .mode .switch:checked ~ label .dark,
aside .mode .switch ~ label .light {
    opacity: 0;
}
aside .mode .switch:checked ~ label .light,
aside .mode .switch ~ label .dark {
    opacity: 1;
}

.footer {
    margin-top: 40px;
    font-size: 10px;
    color: #ababab;
    font-weight: 200;
    text-align: right;
}
/* filter */
.filter {
    position: relative;
    width: 348px;
    max-width: 0;
    height: 100%;
    padding: 0 0 100px;
    background: var(--bgContent);
    border-left: 1px solid var(--bgColor);
    box-shadow: 3px 3px 5px var(--lightShadow);
    z-index: 11;
    transform: translateX(-100%);
    transition: all 0.2s;
    overflow: hidden;
}
.filter.open {
    max-width: none;
    padding: 0 14px 100px;
    transform: translateX(0);
    overflow: visible;
}
.filter .filter-tit {
    padding: 42px 18px 22px;
    font-size: 26px;
    font-weight: 800;
    border-bottom: 1px solid var(--lightGray);
}
.filter .filter-tit svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: -6px 10px 0 0;
    color: var(--mainTxt);
    stroke: var(--mainTxt);
}
.filter .filter-body {
    position: relative;
    height: 100%;
    margin: 10px 0;
    padding: 20px 18px 120px;
    overflow: auto;
}
.filter .filter-body::-webkit-scrollbar {
    width: 4px;  
}
.filter .filter-body::-webkit-scrollbar-thumb {
    background: var(--lightGray);
    border-radius: 10px;
}
.filter .filter-body::-webkit-scrollbar-track {
    background: var(--bgContent);
}

.filter .filter-foot {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 30px 40px;
    justify-content: center;
    align-items: center;
    background: var(--bgContent);
}
.filter .filter-foot > * {
    flex: 1;
}

/* content  */
.content-wrap {
    position: relative;
    flex: 1;
    overflow: auto;
    background: var(--bgColor);
    z-index: 10;
}
.content-tit {
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 800;
}
.content-tit > * {
    display: inline-block;
}
.content-tit > * + *::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: -2px 14px 0 10px;
    border: solid var(--mainTxt);
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}
.content-item {
    position: relative;
}
.content-item + .content-item {
    margin-top: 30px;
}
.content-item .item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.content-item .item-head .item-tit {
    font-size: 16px;
    font-weight: 600;
}
.content-item .item-content {
    padding: 16px;
    background: var(--bgContent);
    border-radius: 10px;
}

/* function box  */
.function-box {
    position: absolute;
    top: 34px;
    right: 56px;
    display: flex;
    gap: 10px;
    z-index: 100;
}
.function-box .select .label,
.function-box > div {
    position: relative;
    width: 38px;
    height: 38px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    background: var(--bgContent);
    border: 0;
}
.function-box .select .label::after {
    content: none;
}
.function-box svg {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}
.function-box .alarm.new::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 8px;
    width: 4px;
    height: 4px;
    background: var(--blue);
    border-radius: 50%;
}
.function-box .option-list {
    left: auto;
    right: 0;
}
.function-box .profile .option-list svg {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin: -3px 5px 0 0;
}
/* dataTable */
.table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.table-head .right > div {
    position: relative;
    display: inline-block;
    z-index: 10;
}
.table-head .right > div + div {
    margin-left: 4px;
}
.table-head .right > div > button.dt-button {
    position: relative;
    display: inline-block;
    min-width: 90px;
    vertical-align: middle;
    padding: 7px 40px 7px 12px;
    font-size: 12px;
    font-weight: 200;
    background: var(--bgContent);
    border: 1px solid var(--lightGray);
    color: var(--lightTxt);
    border-radius: 4px;
    text-align: center;
    transition: all 0.2s;
    letter-spacing: -0.02em;
}
.table-head .right button.dt-button .dt-button-down-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    font-size: 5px;
    transform: translate(-50%);
}
.table-head .right .dt-button-collection {
    position: absolute;
    top: 150%;
    left: 0;
    width: max-content;
    min-width: 100%;
    text-align: left;
    border: 1px solid var(--lightGray);
    background: var(--bgContent);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--lightShadow);
}
.table-head .right .dt-button-collection .dt-button {
    position: relative;
    display: block;
    width: 100%;
    font-size: 11px;
    color: var(--lightTxt);
    text-align: left;
    padding: 12px 10px;
    border-bottom: 1px solid var(--lightGray); 
}
.table-head .colvis-wrap .dt-button-collection .dt-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 14px;
    height: 14px;
    border: 1px solid #949597;
    background: var(--bgContent);
    border-radius: 2px;
    transform: translateY(-50%);
}
.table-head .right .colvis-wrap .dt-button-collection .dt-button {
    padding-left: 32px;
}
.table-head .colvis-wrap .dt-button-collection .dt-button.dt-button-active::before {
    margin-right: 4px;
    background: var(--blue);
    border-color: var(--blue);
}
.table-head .colvis-wrap .dt-button-collection .dt-button.dt-button-active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    width: 5px;
    height: 8px;
    margin-top: -2px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    transform: rotate(45deg) translateY(-50%);
}
.table-head ~ .table-style01,
.table-head ~ * .table-style01 {
    border: solid var(--lightGray);
    border-width: 1px 0;
}
.table-head ~ .table-style01 th,
.table-head ~ * .table-style01 th {
    padding-top: 12px;
}
.table-head ~ .table-style01 tbody tr:last-of-type td,
.table-head ~ * .table-style01 tbody tr:last-of-type td {
    padding-bottom: 12px;
}
#resultTable_info {
    margin-top: 8px;
    font-size: 10px;
    color: var(--gray);
}

/* dataTable pagination  */
.dataTables_paginate {
    position: relative;
    margin: 10px 0;
    font-size: 12px;
    text-align: center; 
}
.paginate_button {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin: 0 3px;
    line-height: 26px;
    border-radius: 50%;
}
.paginate_button:hover:not(.current) {
    color: var(--blue)
}
.paginate_button.current {
    background: var(--blue);
    color: #fff;
}
.paginate_button.previous,
.paginate_button.next {
    font-size: 0;
    background: url(../img/ico_arrow.png) no-repeat center / 11px;
}
.paginate_button.first,
.paginate_button.last {
    font-size: 0;
    background: url(../img/ico_d_arrow.png) no-repeat center / 11px;
}
.paginate_button.first:hover,
.paginate_button.next:hover {
    background: url(../img/ico_arrow_on.png) no-repeat center / 11px;
}
.paginate_button.previous:hover,
.paginate_button.last:hover {
    font-size: 0;
    background: url(../img/ico_d_arrow_on.png) no-repeat center / 11px;
}
.paginate_button.next,
.paginate_button.last {
    transform: rotate(180deg);
}
.dataTables_paginate .page-input {
    display: inline-block;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid var(--lightGray);
    color: var(--lightTxt);
    font-size: 10px;
}
.dataTables_paginate .page-input input {
    width: 26px;
    height: 20px;
    padding: 5px;
    margin-left: 5px;
    font-size: 10px;
    border: 1px solid var(--lightGray);
    color: var(--lightTxt);
    background: var(--bgContent);
    border-radius: 4px;
}
.dataTables_paginate .page-input input::-webkit-outer-spin-button,
.dataTables_paginate .page-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dataTables_paginate .page-input input[type='number'] {
    -moz-appearance: textfield;
}

.id-box .icon {
    display: block;
    width: 34px;
    height: 34px;
    margin-bottom: 18px;
    background: var(--bgColor);
    text-align: center;
    border-radius: 50%;
}
.id-box .icon svg {
    width: 17px;
    height: 17px;
    margin-top: 8px;
    color: var(--blue);
    stroke: var(--blue);
}
.id-box .list-info {
    font-size: 17px;
    font-weight: 800;
}

/* login  */
#login {
    display: grid;
    grid-template-columns: 700px 1fr;
}
#login .form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 84px 0 38px;
    background: var(--bgContent);
}
#login .form-wrap .login-logo {
    width: 222px;
}
#login .form-wrap form {
    position: relative;
    text-align: center;
    width: 340px;
    padding-bottom: 42px;
    border-bottom: 1px solid #cacaca;
}
#login .form-wrap form h2 {
    font-size: 30px;
    font-weight: 800;
}
#login .form-wrap form h2 + p {
    margin-top: 8px;
    font-size: 14px;
    color: #cacaca;
}
#login .form-wrap .input-wrap {
    position: relative;
    display: block;
    padding: 24px 0 30px;
}
#login .form-wrap .input-wrap .error {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 11px;
    color: var(--red);
}
#login .form-wrap .input-wrap .error svg {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    color: var(--red);
    stroke: var(--red);
    margin: -4px 5px 0 0;
}
#login .form-wrap .input-wrap input {
    display: block;
    width: 100%;
    height: 46px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: left;
    background: #f0f0f2;
    border-radius: 10px;
    transition: all 0.2s;
}
#login .form-wrap .input-wrap input::placeholder {
    color: #bababa;
}
#login .form-wrap .input-wrap input::-webkit-input-placeholder {
    color: #bababa;
}
#login .form-wrap .input-wrap input:-ms-input-placeholder {
    color: #bababa;
}
#login .form-wrap .input-wrap input:focus {
    background: #fff;
    box-shadow: 0 0 6px rgba(44,103,255,0.5)
}
#login .form-wrap form .input-wrap input + input {
    margin-top: 18px;
}
#login .form-wrap .btn-login {
    display: block;
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
}
#login .form-wrap .find-pw {
    position: absolute;
    left: 50%;
    bottom: -6px;
    padding: 0 10px;
    color: #cacaca;
    font-size: 14px;
    background: #fff;
    transform: translateX(-50%);
    transition: all 0.3s;
}
#login .form-wrap .find-pw:hover {
    color: var(--blue);
}
#login .form-wrap .copyright {
    font-size: 10px;
    color: #c9c9c9;
}
#login .form-wrap .input-wrap .time {
    position: absolute;
    top: 40px;
    right: 12px;
    font-size: 12px;
    font-weight: 800;
    color: var(--blue);
}
#login .form-wrap .func-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
#login .form-wrap .func-box > * {
    width: auto;
    height: auto;
    padding-bottom: 3px;
    font-size: 12px;
    color: #909090;
    border-bottom: 1px solid #909090;
    transition: all 0.3s;
}
#login .form-wrap .func-box > *:hover {
    color: var(--blue);
    border-bottom-color: var(--blue);
}
#login .login-right {
    background: url(../img/bg_login.jpg) no-repeat center / cover;
}

/* error page  */
.error-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.error-content .img-area {
    position: relative;
    padding-bottom: 45px;
    font-size: 240px;
    font-weight: 800;
    color: var(--bgContent);
    line-height: 1;
    letter-spacing: 15px;
}
.error-content .img-area img {
    position: absolute;
    left: 50%;
    bottom: -28px;
    width: 184px;
    transform: translateX(-50%);
}
.error-content h2 {
    margin-top: 80px;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: -0.02em;
}
.error-content h2 + p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
    color: #666;
}
.error-content .btn-area {
    margin-top: 30px;
}
.error-content .btn-area .btn {
    width: 130px;
    padding: 15px;
    font-size: 15px;
}