<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>BreezeWay FireONE</title>
        <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="700" id="bodyTable" style="margin: 0 auto; padding: 0;">
            <tr>
                <td style="height: auto; padding-top: 40px; padding-bottom: 30px;">
                    <img src="" width="150" height="44" alt="BreezeWay FireONE 로고" style="margin-left: 40px; margin-bottom: 40px;">
                    <table cellpadding="0" cellspacing="0" width="530" style="border-collapse: collapse; margin: 0 auto;">
                        <tr>
                            <td style="height: auto; font-size: 34px; font-weight: bold; color:#222222;"><strong style="color:#2c67ff;">신청</strong>이 완료되었습니다.</td>
                        </tr>
                        <tr>
                            <td style="height: auto; padding-top: 20px; font-size: 18px;"><strong style="color:#2c67ff;">김희수</strong>님, 안녕하세요.</td>
                        </tr>
                        <tr>
                            <td style="height: auto; padding-top: 14px; font-size: 13px; color: #666666; line-height: 1.38;">
                                <b>2024년 12월 28일 16:34</b>에 요청하신 신청이 <b>완료</b>되었습니다.<br/>
                                자세한 내용은 <a href="#" style="display: inline-block; vertical-align: middle; font-weight: bold; text-decoration: underline; color:#666666; ">BreezeWay FireONE</a>에서 확인할 수 있습니다.
                            </td>
                        </tr>
                    </table>

                    <table cellpadding="0" cellspacing="0" width="530" style="border-collapse: collapse; margin: 36px auto 0;">
                        <tr>
                            <td style="height: auto; width: 40%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-top: 1px solid #222222; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold;">신청 번호</td>
                            <td style="height: auto; width: 70%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-top: 1px solid #222222; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666;">FIQ20241129151608487</td>
                        </tr>
                        <tr>
                            <td style="height: auto; width: 40%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold;">신청 상태</td>
                            <td style="height: auto; width: 70%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666;">일반 결재</td>
                        </tr>
                        <tr>
                            <td style="height: auto; width: 40%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold;">적용 기한</td>
                            <td style="height: auto; width: 70%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666;">2024/02/01 ~ 2025/03/31</td>
                        </tr>
                        <tr> 
                            <td style="height: auto; width: 40%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold;">신청자</td>
                            <td style="height: auto; width: 70%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666;">김희수</td>
                        </tr>
                        <tr>
                            <td style="height: auto; width: 40%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold;">신청일</td>
                            <td style="height: auto; width: 70%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666;">2024/11/29</td>
                        </tr>
                        <tr>
                            <td style="height: auto; width: 40%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #222222; font-size: 12px; color: #666666; font-weight: bold;">신청내용</td>
                            <td style="height: auto; width: 70%; padding-top: 14px; padding-right:12px; padding-bottom: 14px; padding-left:12px; border-bottom: 1px solid #222222; font-size: 12px; color: #666666;">이런저런 사유로 신청합니다.</td>
                        </tr>
                    </table>

                    <table cellpadding="0" cellspacing="0" width="530" style="border-collapse: collapse; margin: 30px auto 0;">
                        <tr>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-top: 1px solid #222222; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold; text-align: center;">출발지</td>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-top: 1px solid #222222; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold; text-align: center;">도착지</td>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-top: 1px solid #222222; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold; text-align: center;">서비스</td>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-top: 1px solid #222222; border-bottom: 1px solid #bcbcbc; font-size: 12px; color: #666666; font-weight: bold; text-align: center;">프로토콜</td>
                        </tr>
                        <tr>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-bottom: 1px solid #222222; font-size: 12px; color: #666666; text-align: center;">1.1.1.1</td>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-bottom: 1px solid #222222; font-size: 12px; color: #666666; text-align: center;">2.2.2.2</td>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-bottom: 1px solid #222222; font-size: 12px; color: #666666; text-align: center;">8080</td>
                            <td style="height: auto; padding-top:14px; padding-right:4px; padding-bottom:14px; padding-left:4px; border-bottom: 1px solid #222222; font-size: 12px; color: #666666; text-align: center;">TCP</td>
                        </tr>
                    </table>                    
                </td>
            </tr>
            <tr>
                <td style="height: auto; padding-top: 20px; text-align:center;">
                    <a href="#" style="display:inline-block; padding-top:15px; padding-right: 50px; padding-bottom: 15px; padding-left: 50px; margin: 0 auto; font-size: 14px; background: #2c67ff; text-align: center; text-decoration: none; color: #ffffff; border-radius: 4px;">BreezeWay FireONE 바로가기</a>
                </td>
            </tr>
            <tr>
                <td style="height: auto; padding-top:40px;">
                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; margin: 0 auto; background-color:#f9f9f9;">
                        <tr>
                            <td style="height: auto; padding-top: 30px; padding-bottom: 30px;">
                                <table cellpadding="0" cellspacing="0" width="530" style="border-collapse: collapse; margin: 0 auto;">
                                    <tr>
                                        <td style="height: auto; font-size: 10px; color: #999999;">본 메일은 발신전용입니다. 본 메일과 관련되어 궁금하신 점이나 불편한 사항은 고객센터에 문의해주시기 바랍니다.</td>
                                    </tr>
                                    <tr>
                                        <td style="height: auto; padding-top: 6px; font-size: 10px; color: #999999;">2024 SSNC All rights reserved.</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>