/* sidebar */
aside {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px 20px;
    text-align: center;
    background: var(--bgContent);
    z-index: 10;
}
aside nav {
    position: relative;
    display: inline-block;
    min-width: 44px;
    margin-top: 30px;
    background: var(--bgColor);
    border-radius: 10em;
    z-index: 1;
}
aside .logo {
    display: block;
    margin: 0 auto;
}
aside .full-logo {
    position: relative;
    width: 100%;
    height: 44px;
    margin: 0 auto;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url('../img/img_logo_full.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}
html[color-theme="dark"] aside .full-logo {
    background-image: url('../img/img_logo_full_white.png');
}
aside nav li {
    padding: 20px 12px;
}
aside nav li svg {
    width: 20px;
    height: 20px;
}
aside nav li:first-of-type {
    padding-top: 12px;
}
aside nav li:last-of-type {
    padding-bottom: 12px;
}
aside nav li .menu-item {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}
aside nav li .menu-item:hover .bubble {
    display: block;
}
aside nav li .menu-item:hover:not(.active) svg{
    color: #2c67ff;
}
aside nav li .menu-item.active svg {
    color: #fff;
    stroke: #fff;
}
aside nav .active-ball {
    position: absolute;
    top:0;
    left: 0;
    width: 44px;
    height: 44px;
    background: var(--point);
    border-radius: 50%;
    z-index: -1;
}
aside.open .overlay {
    display: block;
}
aside.open .side-menu {
    transform: translateX(0);
}

aside .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 256px;
    height: 100%;
    padding: 24px 0 20px;
    background: var(--bgContent);
    z-index: 100;
    transform: translateX(-120%);
    transition: all 0.2s;
}
aside .side-menu .menu-list {
    height: 100%;
    margin-top: 24px;
    overflow: auto;
}
aside .side-menu .menu-list::-webkit-scrollbar {
    width: 4px;
}
aside .side-menu .menu-list::-webkit-scrollbar-thumb {
    background: var(--lightGray);
    border-radius: 10px;
}
aside .side-menu .menu-list::-webkit-scrollbar-track {
    background: var(--bgContent);
}
aside .side-menu .menu-list {
    padding-left: 12px;
    padding-bottom: 64px;
}
aside .side-menu .menu-list .menu-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 18px;
    font-size: 12px;
    text-align: left;
}
aside .side-menu .menu-list li{
    overflow: hidden;
}
aside .side-menu .menu-list button.menu-item::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 18px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border: solid var(--mainTxt);
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
    transition: all 0.2s;
}
aside .side-menu .menu-list .menu-item svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin: -2px 14px 0 0;
}
aside .side-menu .menu-list .menu-name svg {
    position: absolute;
    top: 50%;
    right: 1px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
}
aside .side-menu .menu-list .menu-item.active {
    color: var(--point);
    font-weight: 600;
    background: var(--bgColor);
}
aside .side-menu .menu-list .menu-item:hover {
    color: var(--point);
    font-weight: 600;
}
aside .side-menu .menu-list .menu-item.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: var(--point);
}
aside .side-menu .menu-list button.menu-item.active::before {
    border-color: var(--point);
    transform: rotate(315deg);
}
aside .side-menu .menu-list .menu-item.active svg,
aside .side-menu .menu-list .menu-item:hover svg  {
    color: var(--point);
    stroke: var(--point);
}
aside .depth2 {
    position: relative;
    max-height: 0;
    margin-left: 30px;
    transition: all 0.2s;
}
aside .menu-item.active + .depth2 {
    max-height: none;
    margin: 10px 0 10px 30px;
}
aside .depth2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 1px;
    height: calc(100% - 26px);
    background: var(--bgColor);
    transform: translateY(-50%);
    z-index: -1;
}
aside .depth2 li a {
    position: relative;
    display: block;
    padding: 8px 0;
    font-size: 11px;
    font-weight: 400;
    color: #9cadb5;
    text-align: left;
    padding-left: 24px;
    transition: all 0.2s;
}
aside .depth2 li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    margin-top: -2px;
    background: #a4b2bb;
    border-radius: 50%;
}
aside .depth2 li.active a,
aside .depth2 li:hover a {
    color: var(--mainTxt);
    font-weight: 500;
}
aside .depth2 li.active a::before {
    background: var(--point);
}
aside .side-menu .menu-list .menu-item.active + .depth2 {
    display: block;
}
aside .mode {
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
}
aside .mode label {
    position: relative;
}
aside .mode svg {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 11px;
    height: 11px;
    color: #222;
    stroke: #222;
    z-index: 1;
    transition: all 0.2s;
}
aside .mode svg.light {
    left: 34px;
    color: #fff;
    stroke: #fff;
}
aside .mode .switch:checked ~ label .dark,
aside .mode .switch ~ label .light {
    opacity: 0;
}
aside .mode .switch:checked ~ label .light,
aside .mode .switch ~ label .dark {
    opacity: 1;
}

.footer {
    margin-top: 24px;
    font-size: 10px;
    color: #ababab;
    font-weight: 200;
    text-align: right;
}
/* filter */
.filter {
    position: relative;
    width: 348px;
    max-width: 0;
    height: 100%;
    padding: 0 0 100px;
    background: var(--bgContent);
    border-left: 1px solid var(--bgColor);
    box-shadow: 3px 3px 5px var(--lightShadow);
    z-index: 11;
    transform: translateX(-100%);
    transition: all 0.2s;
    overflow: hidden;
}
.filter.open {
    max-width: none;
    padding: 0 14px 100px;
    transform: translateX(0);
    overflow: visible;
}
.filter .filter-tit {
    padding: 42px 18px 22px;
    font-size: 26px;
    font-weight: 800;
    border-bottom: 1px solid var(--lightGray);
}
.filter .filter-tit svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: -6px 10px 0 0;
    color: var(--mainTxt);
    stroke: var(--mainTxt);
}
.filter .filter-body {
    position: relative;
    height: 100%;
    margin: 10px 0;
    padding: 20px 18px 120px;
    overflow: auto;
}
.filter .filter-body::-webkit-scrollbar {
    width: 4px;
}
.filter .filter-body::-webkit-scrollbar-thumb {
    background: var(--lightGray);
    border-radius: 10px;
}
.filter .filter-body::-webkit-scrollbar-track {
    background: var(--bgContent);
}
.filter .input-style01 {
    display: block;
    width: 100%;
}
.filter .filter-foot {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 30px 18px;
    justify-content: center;
    align-items: center;
    background: var(--bgContent);
    z-index: 5;
}
.filter .filter-foot > * {
    flex: 1;
}

/* content  */
.content-wrap {
    position: relative;
    flex: 1;
    overflow: auto;
    background: var(--bgColor);
    z-index: 10;
}
.content-tit {
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 800;
}
.content-tit > * {
    display: inline-block;
}
.content-tit > * + *::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: -2px 14px 0 10px;
    border: solid var(--mainTxt);
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}
.content-item {
    position: relative;
}
.content-item + .content-item {
    margin-top: 30px;
}
.content-item .item-head {
    position: relative;
    display: flex;
    min-height: 28px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.item-tit {
    font-size: 15px;
    font-weight: 600;
}
.content-item .item-content {
    min-height: 100%;
    padding: 16px;
    background: var(--bgContent);
    border-radius: 10px;
}
.item-content + .item-content {
    margin-top: 20px;
}
/* function box  */
.function-box {
    position: absolute;
    top: 34px;
    right: 56px;
    display: flex;
    gap: 10px;
    z-index: 100;
}
.function-box .select .label,
.function-box > div:not(.toast,.chat-wrap) {
    position: relative;
    width: 38px;
    height: 38px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    background: var(--bgContent);
    border: 0;
}
.function-box .select .label::after {
    content: none;
}
.function-box svg {
    width: 20px;
    height: 20px;
    margin-top: 8px;
}
.function-box .alarm.new::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 8px;
    width: 4px;
    height: 4px;
    background: var(--point);
    border-radius: 50%;
}
.function-box .option-list {
    left: auto;
    right: 0;
}
.function-box .profile .btn-logout svg {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin: -3px 5px 0 0;
}
.function-box .profile .btn-time {
    margin-left: 10px;
    font-size: 11px;
    color: var(--lightTxt);
    border-bottom: 1px solid var(--gray);
}
.function-box .profile .btn-time svg {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    margin-top: -4px;
    color: var(--lightTxt);
    stroke: var(--lightTxt);
}
.function-box .profile .btn-time:hover {
    color: var(--point);
    border-bottom-color: var(--point);
}
.function-box .profile .btn-time:hover svg {
    color: var(--point);
    stroke: var(--point);
}
.function-box .toast {
    position: fixed;
    right: 35px;
    bottom: 45px;
    z-index: 999;
}
.toast > * + * {
    margin-top: 10px;
}
.toast .alarm-txt {
    position: relative;
    display: block;
    width: 280px;
    min-height: 50px;
    padding: 14px 10px 14px 60px;
    border-radius: 5px;
    border: 1px solid var(--lightGray);
    box-shadow: 0 0 10px var(--lightShadow);
    background: var(--bgContent);
}
.toast .alarm-txt::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 35px;
    height: 35px;
    margin-top: -18px;
    border-radius: 50%;
    background: var(--point) url("../img/ico_alarm.png") no-repeat center / 100%;
}
.alarm-txt strong {
    display: block;
    font-size: 11px;
}
.alarm-txt p {
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    color: var(--gray);
    letter-spacing: -0.02em;
}
.alarm-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 260px;
    height: 320px;
    margin-top: 10px;
    padding: 18px 10px 18px 16px;
    overflow: hidden;
    text-align: left;
    border: 1px solid var(--lightGray);
    border-radius: 4px;
    box-shadow: 0 0 10px var(--lightShadow);
    background: var(--bgContent);
}
.alarm-list.open {
    display: block;
}
.alarm-list .alarm-tit {
    display: block;
    font-size: 13px;
}
.alarm-list .modal-close {
    position: absolute;
    top: 5px;
    right: 12px;
}
.alarm-list ul {
    height: 100%;
    margin-top: 18px;
    padding: 0 6px 30px 15px;
    overflow: auto;
}
.alarm-list ul::-webkit-scrollbar {
    width: 4px;
}
.alarm-list ul::-webkit-scrollbar-thumb {
    background: var(--lightGray);
    border-radius: 10px;
}
.alarm-list ul::-webkit-scrollbar-track {
    background: var(--bgContent);
}
.alarm-list li {
    position: relative;
}
.alarm-list li:not(.empty)::after {
    content: '';
    position: absolute;
    top: 3px;
    left: -14px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--gray);
    border-radius: 50%;
}
.alarm-list li + li {
    margin-top: 12px;
}
.alarm-list .empty {
    margin-left: -15px;
    padding: 28px 0;
    font-size: 11px;
    border-radius: 8px;
}
.alarm-list .empty svg {
    width: 24px;
    height: 24px;
    margin: 0 auto 5px;
}
.alarm-list .date {
    display: block;
    margin-bottom: 8px;
    font-size: 10px;
    color: var(--gray);
}
.alarm-list .alarm-txt {
    padding: 10px;
    background: var(--whiteGray);
    border-radius: 8px;
}
.alarm-list li.new .date {
    color: var(--point);
}
.alarm-list li.new::after {
    border-color: var(--point);
}
.alarm-list li.new .alarm-txt {
    background: var(--bgColor);
}
.chat-wrap {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.chat-wrap .btn-chat {
    position: relative;
    width: 46px;
    height: 46px;
    background-color: var(--bgContent);
    background-image: url("../img/ico_bot.png");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--lightShadow);
    overflow: hidden;
    text-indent: -999px;
    transition: all 0.2s;
}
html[color-theme="dark"] .chat-wrap .btn-chat {
    background-image: url("../img/ico_bot_white.png");
}
.chat-wrap .btn-chat:hover,
.chat-wrap .btn-chat.open {
    background-image: url("../img/ico_bot_blue.png");
}
.btn-chat.new::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 10px;
    width: 3px;
    height: 3px;
    background: var(--point);
    border-radius: 50%;
}
.chat-box {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 280px;
    margin-bottom: 10px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 10px var(--lightShadow);
    border: 1px solid var(--lightGray);
    border-radius: 8px;
    z-index: 10;
}
.btn-chat.open + .chat-box {
    display: block;
}
html[color-theme="dark"] .chat-box {
    background: #101010;
}
.chat-box .chat-head {
    position: relative;
    background: var(--bgContent);
}
.chat-box .chat-tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    font-size: 13px;
    border-bottom: 1px solid var(--lightGray);
}
.chat-box .chat-tit .num {
    font-size: 10px;
    font-weight: 400;
    color: var(--lightTxt);
}
.chat-box .chat-tit .num svg {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 1px 0 0;
    width: 11px;
    height: 11px;
    color: var(--lightTxt);
    stroke: var(--lightTxt);
}
.chat-box svg {
    margin-top: 0;
}
.chat-box .chat-head .close {
    position: absolute;
    top: 12px;
    right: 14px;
}
.chat-box .chat-head svg {
    width: 20px;
    height: 20px;
}
.chat-box .chat-body {
    height: 310px;
    padding: 18px;
    overflow: auto;
}
.chat-body::-webkit-scrollbar,
.approval-chat ul::-webkit-scrollbar {
    width: 4px;
}
.chat-body::-webkit-scrollbar-thumb,
.approval-chat ul::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 10px;
}
.chat-body::-webkit-scrollbar-track,
.approval-chat ul::-webkit-scrollbar-track {
    background: var(--lightGray);
}
.chat-box .chat + .chat {
    margin-top: 6px;
}
.chat-box .chat .c-bubble {
    display: inline-block;
    padding: 8px 10px;
    font-size: 10px;
    border-radius: 14px 14px 14px 0;
    background: var(--bgContent);
}
.chat-box .chat .time {
    display: block;
    margin-top: 3px;
    font-size: 9px;
}
.chat-box .chat.user {
    text-align: right;
}
.chat-box .chat.user .c-bubble {
    border-radius: 14px 14px 0 14px;
    color: #fff;
    background: #49494b;
}
.chat-box .btn-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px 5px;
    margin: 4px 0;
}
.chat-box .btn-list .item {
    padding: 1px 8px 4px;
    font-size: 10px;
    color: var(--point);
    background: var(--bgContent);
    border: 1px solid var(--point);
    border-radius: 10em;
    cursor: pointer;
    transition: all 0.2s;
}
.chat-box .btn-list .item:hover {
    background: var(--point);
    color: #fff;
}
.chat-box .chat-input {
    position: relative;
    padding: 8px 14px;
    background: var(--bgContent);
}
.chat-box .chat-input input[type="text"] {
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px 30px 4px 16px;
    font-size: 10px;
    border-radius: 10em;
    background: var(--lightGray);
}
.chat-box .chat-input .btn-send {
    position: absolute;
    top: 15px;
    right: 25px;
}
.chat-box .chat-input .btn-send svg {
    width: 14px;
    height: 14px;
    color: var(--gray);
    stroke: var(--gray);
}
.chat-box .user-info {
    margin-bottom: 5px;
    font-size: 10px;
}
.chat-box .user-info .level {
    display: block;
    margin-top: 1px;
    font-size: 9px;
    color: var(--gray);
}
.chat-box .chat.mention .m-user {
    display: inline-block;
    margin: 0 3px;
    color: var(--point);
}
.chat-box .chat.user.mention .m-user {
    padding: 1px 5px 2px;
    background: var(--bgContent);
    border-radius: 10em;
}
.chat-box .chat.mention .c-bubble {
    border: 1px solid var(--point);
}
    /* dataTable */
.table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.table-head .right > div {
    position: relative;
    display: inline-block;
    z-index: 10;
}
.table-head .right > div + div {
    margin-left: 4px;
}
.table-head .right > div > button.dt-button {
    position: relative;
    display: inline-block;
    min-width: 90px;
    vertical-align: middle;
    padding: 7px 40px 7px 12px;
    font-size: 12px;
    font-weight: 200;
    background: var(--bgContent);
    border: 1px solid var(--lightGray);
    color: var(--lightTxt);
    border-radius: 4px;
    text-align: center;
    transition: all 0.2s;
    letter-spacing: -0.02em;
}
.table-head .right button.dt-button .dt-button-down-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    font-size: 5px;
    transform: translateY(-50%);
}
.table-head .right .dt-button-collection {
    position: absolute;
    top: 150%;
    left: 0;
    width: max-content;
    min-width: 100%;
    text-align: left;
    border: 1px solid var(--lightGray);
    background: var(--bgContent);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--lightShadow);
}
.table-head .right .dt-button-collection .dt-button {
    position: relative;
    display: block;
    width: 100%;
    font-size: 11px;
    color: var(--lightTxt);
    text-align: left;
    padding: 12px 10px;
    border-bottom: 1px solid var(--lightGray);
}
.table-head .colvis-wrap .dt-button-collection .dt-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 14px;
    height: 14px;
    border: 1px solid #949597;
    background: var(--bgContent);
    border-radius: 2px;
    transform: translateY(-50%);
}
.table-head .right .colvis-wrap .dt-button-collection .dt-button {
    padding-left: 32px;
}
.table-head .colvis-wrap .dt-button-collection .dt-button.dt-button-active::before {
    margin-right: 4px;
    background: var(--point);
    border-color: var(--point);
}
.table-head .colvis-wrap .dt-button-collection .dt-button.dt-button-active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    width: 5px;
    height: 8px;
    margin-top: -2px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    transform: rotate(45deg) translateY(-50%);
}
.table-head ~ .table-style01,
.table-head ~ * .table-style01 {
    border: solid var(--lightGray);
    border-width: 1px 0;
}
.table-head ~ .table-style01 th,
.table-head ~ * .table-style01 th {
    padding-top: 12px;
}
.table-head ~ .table-style01 tbody tr:last-of-type td,
.table-head ~ * .table-style01 tbody tr:last-of-type td {
    padding-bottom: 12px;
}
#resultTable_info,
#result-table_info,
.dataTables_info {
    margin-top: 8px;
    font-size: 10px;
    color: var(--gray);
}

/* dataTable pagination  */
.dataTables_paginate {
    position: relative;
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
}
.paginate_button {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin: 0 3px;
    line-height: 26px;
    border-radius: 50%;
}
.paginate_button:hover:not(.current) {
    color: var(--point)
}
.paginate_button.current {
    background: var(--point);
    color: #fff;
}
.paginate_button.previous,
.paginate_button.next {
    font-size: 0;
    background: url('../img/ico_arrow.png') no-repeat center / 11px;
}
.paginate_button.first,
.paginate_button.last {
    font-size: 0;
    background: url('../img/ico_d_arrow.png') no-repeat center / 11px;
}
.paginate_button.previous:hover,
.paginate_button.next:hover {
    background: url('../img/ico_arrow_on.png') no-repeat center / 11px;
}
.paginate_button.first:hover,
.paginate_button.last:hover {
    font-size: 0;
    background: url('../img/ico_d_arrow_on.png') no-repeat center / 11px;
}
.paginate_button.next,
.paginate_button.last {
    transform: rotate(180deg);
}
.dataTables_paginate .page-input {
    display: inline-block;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid var(--lightGray);
    color: var(--lightTxt);
    font-size: 10px;
}
.dataTables_paginate .page-input input {
    width: 26px;
    height: 20px;
    padding: 5px;
    margin-left: 5px;
    font-size: 10px;
    border: 1px solid var(--lightGray);
    color: var(--lightTxt);
    background: var(--bgContent);
    border-radius: 4px;
}
.dataTables_paginate .page-input input::-webkit-outer-spin-button,
.dataTables_paginate .page-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.dataTables_paginate .page-input input[type='number'] {
    -moz-appearance: textfield;
}

.box-info {
    display: grid;
    grid-template-columns: 24% 1fr;
    align-items: center;
    margin: -16px -16px 0 -16px;
    padding: 18px;
    background: var(--whiteGray);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--lightGray);
}
.box-info .box-tit {
    padding: 0 8px;
    font-size: 11px;
    font-weight: 500;
}
.box-info .box-name {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
    color: var(--point);
}
.box-info + * {
    font-weight: 500;
}
.box-info + .table-style01 tr:last-of-type th,
.box-info + .table-style01 tr:last-of-type td {
    border-bottom: 0;
    padding-bottom: 4px;
}
.box-info + * .list-tit {
    margin-bottom: 0;
}
/* login  */
#login {
    display: grid;
    grid-template-columns: 700px 1fr;
    background: var(--bgContent);
}
#login .login-logo {
    display: block;
    width: 222px;
    height: 24px;
    overflow: hidden;
    text-indent: -999px;
    background: url("../img/img_login_logo.png");
}
html[color-theme="dark"] #login .login-logo {
    background: url("../img/img_login_logo_white.png");
}
#login .form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 84px 0 38px;
    background: var(--bgContent);
}
#login .form-wrap .login-logo {
    width: 222px;
}
#login .form-wrap form {
    position: relative;
    text-align: center;
    width: 340px;
    padding-bottom: 42px;
}
#login .form-wrap form h2 {
    font-size: 30px;
    font-weight: 800;
}
#login .form-wrap form h2 + p {
    margin-top: 8px;
    font-size: 14px;
    color: var(--gray);
    opacity: 0.6;
}
#login .form-wrap .input-wrap {
    position: relative;
    display: block;
    padding: 24px 0 30px;
}
#login .form-wrap .input-wrap .error {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 11px;
    color: var(--red);
}
#login .form-wrap .input-wrap .error svg {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    color: var(--red);
    stroke: var(--red);
    margin: -4px 5px 0 0;
}
#login .form-wrap .input-wrap input {
    display: block;
    width: 100%;
    height: 46px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: left;
    background: var(--bgColor);
    border-radius: 10px;
    transition: all 0.2s;
}
#login .form-wrap .input-wrap input::placeholder {
    color: var(--gray);
}
#login .form-wrap .input-wrap input::-webkit-input-placeholder {
    color: var(--gray);
}
#login .form-wrap .input-wrap input:-ms-input-placeholder {
    color: var(--gray);
}
#login .form-wrap .input-wrap input:focus {
    background: var(--bgContent);
    box-shadow: 0 0 6px rgba(44,103,255,0.5)
}
#login .form-wrap form .input-wrap input + input {
    margin-top: 18px;
}
#login .form-wrap .btn-login {
    display: block;
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
}
#login .form-wrap .copyright {
    font-size: 10px;
    color: var(--gray);
    opacity: 0.6;
}
#login .form-wrap .input-wrap .time {
    position: absolute;
    top: 40px;
    right: 12px;
    font-size: 12px;
    font-weight: 800;
    color: var(--point);
}
#login .form-wrap .func-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
#login .form-wrap .func-box > * {
    width: auto;
    height: auto;
    padding-bottom: 3px;
    font-size: 12px;
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
    transition: all 0.3s;
}
#login .form-wrap .func-box > *:hover {
    color: var(--point);
    border-bottom-color: var(--point);
}
#login .login-right {
    position: relative;
    background-repeat: no-repeat;
    z-index: 1;
}
#login #loginBg1 {
    background: url("../img/bg_login01.png") no-repeat top center / 54vw;
}
#login #loginBg2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(173,252,250);
    background: radial-gradient(circle, rgba(173,252,250,1) 30%, rgba(14,210,247,1) 75%);
    z-index: -1;
}
#login #loginBg2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32.1875vw;
    height: 29.7395vw;
    background: url("../img/bg_login02.png") no-repeat center / 100%;
    transform: translate(-50%,-50%);
}
#login #loginBg3 {
    background: url("../img/bg_login03.png") no-repeat center / cover;
}
#login #loginBg3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 13vw 0px 0px;
    border-color: var(--bgContent) transparent transparent transparent;
}
/* error page  */
.error-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.error-content .img-area {
    position: relative;
    min-width: 480px;
    min-height: 285px;
    padding-bottom: 45px;
    font-size: 240px;
    font-weight: 800;
    color: var(--bgContent);
    line-height: 1;
    letter-spacing: 15px;
}
.error-content .img-area * {
    color: var(--bgContent);
}
.error-content .img-area img {
    position: absolute;
    left: 50%;
    bottom: -28px;
    width: 184px;
    transform: translateX(-50%);
}
.error-content h2 {
    margin-top: 80px;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: -0.02em;
}
.error-content h2 + p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
    color: var(--gray);
}
.error-content .btn-area {
    margin-top: 30px;
}
.error-content .btn-area .btn {
    width: 130px;
    padding: 15px;
    font-size: 15px;
}

/*request table style*/
.request-info {
    display: block;
    font-size: 12px;
}
.request-info ~ .request-info {
    margin-top: 2px;
    font-size: 11px;
    color: #969696;
}
#firewallEntryBody input + input {
    margin-top: 4px;
    margin-left: 0;
}
#firewallEntryBody select {
    font-size: 12px;
}
.status {
    position: relative;
}
.status .status-info {
    display: block;
    font-size: 10px;
}
.status.success .status-info {
    color: #477fce;
}
.status.success .status-info::before {
    content: '';
    display: block;
    width: 62px;
    height: 13px;
    margin-bottom:3px;
    background: url("../img/ico_success.png") no-repeat center / 100%;
}
.status.fail {
    display: block;
    width: 100%;
    text-align: left;
}
.status.fail::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 7px;
    height: 5px;
    right: 0;
    margin-top: -3px;
    background: url('../img/ico_triangle_red.png') no-repeat center / 100%;
    transition: all 0.2s;
}
.status.fail.open::after {
    transform: rotate(180deg);
}
.status.fail .status-info {
    padding-right: 8px;
    color: #d00000;
    text-align: left;
}
.status.fail .status-info::before {
    content: '';
    display: block;
    width: 37px;
    height: 13px;
    margin-bottom: 3px;
    background: url("../img/ico_fail.png") no-repeat center / 100%;
}
.status-result {
    display: none;
    width: 100%;
    max-height: 146px;
    padding: 12px 14px;
    margin-top: 10px;
    font-size: 10px;
    background: #fcebeb;
    border-radius: 5px;
    overflow: auto;
}
.status-result .result-tit {
    display: inline-block;
    vertical-align: middle;
    min-width: 100px;
    color: #222;
}
.status-result .result-info {
    display: inline-block;
    vertical-align: middle;
    color: #808080;
}
.status-result p.result-info {
    margin-top: 4px;
}
.status-result ul + ul {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #ffc2c2;
}
.status-result li + li {
    margin-top: 6px;
}
.status-result::-webkit-scrollbar {width: 3px;}
.status-result::-webkit-scrollbar-track {background: transparent; }
.status-result::-webkit-scrollbar-thumb {background: #ffa4a4; border-radius: 45px;}

/*topology*/
.topology-content {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    border-radius: 10px;
    background: var(--bgContent);
    box-shadow: 0 0 10px var(--lightShadow)
}
.topology-content #cy {
    height: 100%;
}
.topology-content .btn-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 10;
}
.topology-content .btn-area button + button {
    margin-top: 10px;
}
.topology-content .btn-area button {
    display: block;
    margin: 0 auto;
}
.topology-content .btn-area.left-top {
    top: 0;
    left: 0;
    gap: 0;
    height: 100%;
    background: var(--bgContent);
    border-right: 1px solid var(--lightGray);
}
.topology-content .btn-area.left-top button {
    width: 54px;
    height: 70px;
    font-size: 10px;
    line-height: 1.1;
    text-align: center;
    word-break: break-word;
    letter-spacing: -0.04em;
    border-bottom: 1px solid var(--lightGray);
    border-radius: 0;
}
.topology-content .btn-area.left-top button + button {
    margin-top: 0;
}
.topology-content .btn-area.left-top svg {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 4px;
}
.topology-content .btn-area.left-top .btn-mode-change.active {
    background: var(--point);
    color: var(--bgContent);
}
.topology-content .btn-area.left-top .btn-mode-change.active svg {
    color: var(--bgContent);
    stroke: var(--bgContent);
}
.topology-content .btn-area.right-top {
    top: 16px;
    right: 16px;
    flex-direction: row;
    gap: 10px;
}
.topology-content .btn-area.cy-control {
    bottom: 16px;
    right: 16px;
}
.topology-content .btn-area.cy-control .btn {
    width: 36px;
    height: 36px;
    line-height: 30px;
}
.topology-content .btn-area.cy-control .btn svg {
    width: 20px;
    height: 20px;
    margin-right: 0;
}
.topology-content .pop-wrap {
    position: relative;
}
.topology-content .pop-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    width: 150px;
    padding: 0 12px 12px;
    border-radius: 4px;
    background: var(--bgContent);
    border: 1px solid var(--whiteGray);
    box-shadow: 0 0 7px var(--Shadow);
}
.topology-content .pop-list .pop-tit {
    display: block;
    margin-bottom: 14px;
    font-size: 12px;
}
.topology-content .pop-list > ul > li {
    padding: 12px 0;
}
.topology-content .pop-list > ul > li + li {
    border-top: 1px solid var(--lightGray);
}
.topology-content .pop-list .btn-box {
    display: flex;
}
.topology-content .pop-list .btn-box > * {
    flex: 1;
    padding: 8px 0;
    font-size: 10px;
}
.topology-content #toolbars {
    top: 50%;
    left: auto;
    right: 100%;
    width: max-content;
    margin-top: 0;
    margin-right: 20px;
    padding: 20px;
    transform: translateY(-50%);
}
.topology-content .toolbar-list {
    display: inline-block;
    vertical-align: top;
}
.topology-content .toolbar-list + .toolbar-list {
    margin-left: 30px;
    padding: 0 30px;
    border-left: 1px solid var(--lightGray);
}
.topology-content .toolbar-list li + li {
    margin-top: 8px;
}
.topology-content #searchtop {
    top: 50%;
    left: 100%;
    margin-left: 20px;
    margin-top: 0;
    transform: translateY(-50%);
}
#firewalllist {
    font-size: 13px;
}
.fire-search {
    position: relative;
    margin: 15px 0 -10px;
    padding: 0 18px;
    z-index: 9;
}
#firewalllist svg {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-top: -2px;
}
#firewalllist li {
    cursor: pointer;
}
#firewalllist li + li {
    margin-top: 10px;
}
#firewalllist .label-add {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 3px 0 0;
    padding: 0 5px;
    font-size: 9px;
    border: 1px solid var(--mainTxt);
    cursor: pointer;
}
#firewalllist li:hover,
#firewalllist li:hover svg,
#firewalllist li:hover .label-add,
#firewalllist li.active,
#firewalllist li.active svg {
    color: var(--point);
    stroke: var(--point);
    border-color: var(--point);
}
#analysisResult .diagnosis {
    padding: 16px 18px;
    border-radius: 8px;
    background: var(--lightGray);
}
#analysisResult .diagnosis strong {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}
#analysisResult .diagnosis p {
    font-size: 11px;
    line-height: 1.4;
    color: var(--lightTxt);
}
#topologyRight {
    width: 520px;
    max-width: 70%;
    left: auto;
    right: 0;
}
#topologyRight .modal-content {
    max-width: none;
    width: 100%;
    padding: 0;
}
#topologyRight .modal-head {
    padding: 20px;
}
#topologyRight .modal-head .modal-close {
    top: 20px;
    right: 20px;
}
#topologyRight .modal-body {
    padding: 0 20px;
}
#topologyRight .modal-foot {
    margin: 0;
    padding-bottom: 20px;
}
#topologyRight .link-info {
    position: relative;
    padding-top: 30px;
    margin-top: 30px;
}
#topologyRight .link-info .btn {
    width: 96px;
    padding: 6px;
}
#topologyRight .link-info::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -20px;
    width: calc(100% + 40px);
    height: 10px;
    background: var(--whiteGray)
}
#topologyRight .new td {
    color: var(--point);
}

/*tree-list*/
.tree-list ul {
    position: relative;
    display: none;
}
.btn-tree + ul {
    padding-top: 8px;
    margin-left: 20px;
}
.tree-list .btn-tree + ul::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: calc(100% - 14px);
    border-left: 1px dotted var(--lightGray);
}
.tree-list li {
    position: relative;
}
.btn-tree + ul li {
    padding-left: 20px;
}
.btn-tree + ul li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 1px;
    margin-top: 2px;
    border-top: 1px dotted var(--lightGray);
    transform: translateY(-50%);
}
.tree-list li + li {
    margin-top: 12px;
}
.tree-list .btn-tree {
    position: relative;
    display: block;
    width: 100%;
    font-size: 11px;
    text-align: left;
    color: var(--lightTxt);
    border: 1px solid rgba(var(--pRgb),0.2);
    border-radius: 2px;
}
.tree-list .tree-arrow::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--point);
    opacity: 0.25;
}
.tree-list .tree-arrow::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 17px;
    width: 4px;
    height: 4px;
    border: solid var(--mainTxt);
    border-width: 1px 1px 0 0;
    transform: rotate(135deg);
    transition: all 0.2s;
}
.tree-list.active > .btn-tree {
    color: var(--mainTxt);
    box-shadow: 1px 2px 5px rgba(var(--pRgb), 0.2);
}
.tree-list.active > .btn-tree > .tree-arrow::before {
    top: 15px;
    transform: rotate(-45deg);
}
.tree-list.active > ul {
    display: block;
}
.tree-list li .checkbox + label {
    padding-left: 25px;
    font-size: 11px;
    color: var(--mainTxt);
}
.tree-list .tree-info {
    display: block;
    padding-left: 28px;
    font-size: 10px;
    color: var(--mainTxt);
    opacity: 0.5;
}
/*approvalLineModal (approval tree)*/
.approval-tree {
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    gap: 14px;
    height: 100%;
}
.approval-tree > div:not(.button-wrap) {
    height: 100%;
    padding: 12px;
    overflow: auto;
    border: 1px solid var(--lightGray);
}
.approval-tree .search-wrap {
    display: grid;
    grid-template-columns: 1fr 28px;
    align-items: center;
    justify-content: space-between;
}
.approval-tree .search-wrap .input-box {
    position: relative;
}
.approval-tree .search-wrap .input-box input {
    padding-right: 26px;
}
.approval-tree .search-wrap .input-search {
    position: absolute;
    top: 6px;
    right: 6px;
}
.approval-tree .search-wrap .input-search svg {
    width: 14px;
    height: 14px;
    color: var(--gray);
    stroke: var(--gray);
}
.approval-tree .btn-refresh {
    text-align: right;
}
.approval-tree .btn-refresh svg {
    width: 18px;
    height: 28px;
    color: var(--gray);
    stroke: var(--gray);
}
.approval-tree .button-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}
.approval-tree .button-wrap button {
    padding: 8px 0;
}
.approval-tree .button-wrap button::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    margin: -2px 0 0 8px;
    border: solid var(--point);
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
}
.approval-tree .button-wrap button:hover::after {
    border-color: var(--bgContent);
}
.approval-tree .button-wrap button + button {
    margin-left: 0;
}
.approval-tree .ui-state-default {
    display: table-row;
    width: auto;
    height: auto;
    cursor: pointer;
}
.approval-tree .btn-delete svg {
    width: 14px;
    height: 14px;
    color: var(--lightTxt);
    stroke: var(--lightTxt);
}
.approval-tree .result-wrap b {
    font-weight: 500;
    font-size: 11px;
}
.approval-tree .result-wrap .info {
    display: block;
    line-height: 1.1;
    font-size: 10px;
    color: var(--lightTxt);
}
.approval-tree .result-wrap .table-style01 th,
.approval-tree .result-wrap .table-style01 td {
    padding: 6px;
}
.approval-tree .result-wrap table .select .label {
    padding: 4px 20px 4px 8px;
    text-align: left;
}
.approval-tree .result-wrap .table-head {
    margin-top: 18px;
    margin-bottom: 0;
}
.approval-tree .tree-list .btn-tree {
    padding: 8px 8px 8px 36px;
}
.approval-tree .tree-list {
    margin-top: 14px;
}

/*admin tree*/
.admin-tree .tree-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.admin-tree .permission-tit {
    padding-right: 20px;
}
.admin-tree .permission-tit > * {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    margin-left: 30px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: var(--gray);
    letter-spacing: -0.03em;
}
.admin-tree .btn-tree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 10px 20px 10px 10px;
}
.admin-tree .tree-arrow {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 23px;
    height: 23px;
    z-index: 10;
}
.admin-tree .tree-arrow::after {
    top: 0;
    left: 0;
}
.admin-tree .tree-list .tree-arrow::before {
    top: 7px;
    left: 7px;
}
.admin-tree .tree-arrow + span {
    margin-left: 25px;
}
.admin-tree .switch + label ~ label {
    margin-left: 50px;
}
.admin-tree .tree-list ul .tree-arrow::after {
    background: var(--gray);
}
.admin-tree .tree-list.active > .btn-tree > .tree-arrow::before {
    top: 8px;
}
.admin-tree .tree-list ul .btn-tree {
    border: 1px solid var(--lightGray);
}
.btn-tree + .tree-list ul::after {
    height: calc(100% - 22px);
}
.admin-tree .tree-list li::after {
    top: 18px;
}
.admin-tree .tree-list.active > .btn-tree {
    box-shadow: none!important;
}
.admin-tree .tree-list ul .btn-tree::after {
    background: var(--gray);
}
.admin-tree .tree-list + .tree-list {
    margin-top: 14px;
}

/*detail status*/
.gauge-wrap {
    position: relative;
}
.gauge-wrap button {
    font-size: 12px;
    color: var(--point);
}
.gauge-wrap button svg {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: -4px 2px 0 0;
    stroke: var(--point);
}
.gauge-wrap .detail-status {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px var(--lightShadow);
    z-index: 10;
}
.gauge-wrap button:hover + .detail-status {
    display: block;
}
.detail-status {
    min-width: 150px;
    width: max-content;
    padding: 6px 16px;
    background: var(--bgContent);
}
.detail-status h4 {
    padding: 12px 4px 12px;
    margin-bottom: 16px;
    font-size: 13px;
    border-bottom: 1px solid var(--lightGray);
}
.detail-status h4 strong {
    color: var(--point);
}
.detail-status ul {
    margin-top: 14px;
}
.detail-status ul li {
    position: relative;
    padding: 5px 15px 24px 15px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10em;
    background: url("../img/ico_dot_point.png") no-repeat 18px 100% / 2px;
    z-index: 1;
}
.detail-status li .date {
    margin-left: 18px;
    font-size: 10px;
    font-weight: 200;
    color: #c8c8c8;
}
.detail-status ul li::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 16px;
    background: var(--point);
    border-radius: 50%;
}
.detail-status ul li.current::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(var(--pRgb),20%);
    z-index: -1;
    animation: pulse 2s infinite ease-in-out;
}
.detail-status ul li.active {
    background: url("../img/ico_dot_gray.png") no-repeat 18px 100% / 2px;
}
.detail-status ul li.active ~ li {
    color: #c8c8c8;
    font-weight: 400;
    background: url("../img/ico_dot_gray.png") no-repeat 18px 100% / 2px;
}
.detail-status ul li.active ~ li::before {
    background: #c8c8c8;
}
.detail-status ul li:last-of-type {
    background: none!important;
}
@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(4);
    }
}

/*approval request detail*/
.detail-head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
}
.detail-head .detail-tit {
    margin: 30px 0 10px;
    font-size: 42px;
    font-weight: 600;
}
.detail-head .detail-num {
    display: block;
    font-size: 18px;
    color: var(--gray);
}
.detail-head .btn-box {
    margin-top: 50px;
}
.detail-head .btn-box .btn {
    width: 90px;
    height: 45px;
    padding: 10px 0;
    font-size: 13px;
}
.detail-list {
    text-align: right;
}
.approval-list {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
}
.approval-list li {
    min-width: 90px;
    max-width: 100px;
    min-height: 130px;
    text-align: center;
    background: var(--bgContent);
    border: 1px solid var(--lightGray);
    overflow: hidden;
    border-radius: 4px;
    letter-spacing: -0.03em;
}
.approval-list span {
    display: block;
}
.approval-list .status {
    display: block;
    padding: 6px 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--lightTxt);
    background: var(--whiteGray)
}
.approval-list .name {
    margin-top: 14px;
    padding: 0 4px;
    font-size: 11px;
}
.approval-list .level {
    margin: 6px 0 10px;
    padding: 0 4px;
    font-size: 10px;
    color: var(--gray);
}
.approval-list .time {
    padding: 8px 0;
    font-size: 10px;
    border-top: 1px solid var(--lightGray);
    color: var(--gray);
}
.approval-list li.s-approval {
    border-color: #179cc6;
}
.approval-list li.s-approval .status {
    color: #179cc6;
    background: #e7f8ff;
}
html[color-theme="dark"] .approval-list li.s-approval .status {
    background: #003c55;
}
.approval-list li.s-approval .time {
    border-top-color: #179cc6;
}
.approval-list li.s-reject {
    border-color: #f16572;
}
.approval-list li.s-reject .status {
    color: #f16572;
    background: #feeeef;
}
html[color-theme="dark"] .approval-list li.s-reject .status {
    background: #4d0005;
}
.approval-list li.s-reject .time {
    border-top-color: #f16572;
}
.detail-list .item-content {
    display: inline-block;
    min-width: 300px;
    padding: 0 10px;
    margin-top: 14px;
}
.detail-list .item-content th {
    color: var(--gray);
}
.detail-list .item-content td {
    font-weight: 500;
    text-align: right;
}
.detail-list .item-content tr:last-of-type th,
.detail-list .item-content tr:last-of-type td {
    border-bottom: 0;
}

#adminTree .check-wrap .checkbox + label {
    display: inline-block;
    width: 60px;
    height: 14px;
    padding-left: 0;
}
#adminTree .check-wrap .checkbox + label ~ label {
    margin-left: 27px;
}
#adminTree .check-wrap .checkbox + label::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#adminTree .check-wrap .checkbox:checked + label::after {
    left: 50%;
    margin-top: -1px;
    margin-left: -3px;
    transform: rotate(45deg) translate(-50%,-50%);
}
.approval-chat {
    top: 100%;
    bottom: auto;
    width: 410px;
    margin-top: 10px;
}
.a-chat-wrap {
    display: flex;
}
.approval-chat .participant {
    width: 130px;
    background: var(--bgContent);
    border-right: 1px solid var(--lightGray);
}
.approval-chat .participant + div {
    flex: 1;
}
.approval-chat ul {
    height: 356px;
    overflow: auto;
}
.approval-chat .participant li {
    padding: 10px 14px;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: var(--lightTxt);
    border-bottom: 1px solid var(--lightGray);
}
.approval-chat .participant li .level {
    display: block;
    font-size: 10px;
    color: var(--gray);
}
.detail-head ~ div .status.fail::after {
    content: none;
}

#searchHost .dataTable {
    width: 100%!important;
}



.approval-title {
    margin-bottom: 30px;
}
.approval-title input[type="text"] {
    flex: 1;
    height: 45px;
    padding: 20px;
    font-size: 16px;
}
.approval-title .btn {
    width: 140px;
    height: 45px;
    font-size: 13px;
}
#userInfo td {
    position: relative;
}
#userInfo .user-img {
    float: left;
    width: 65px;
    height: 65px;
    margin-right: 18px;
    border-radius: 50%;
    background: var(--lightGray);
}
#userInfo .user-name {
    display: block;
    margin-top: 6px;
    font-size: 20px;
}
#userInfo .user-email {
    display: block;
    font-size: 14px;
    color: var(--lightTxt);
}
#userInfo .user-img ~ .btn {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
    transform: translateY(-50%);
}

#adminAlarm {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    margin-top: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}
#adminAlarm ul {
    margin-top: 0;
}

.commit-list li {
    margin-bottom: 14px;
}
.commit-list .d-flex {
    margin: 10px 0 0 22px;
}